# See documentation https://pnpm.io/npmrc#use-node-version

# Specifies which exact Node.js version should be used for the project's runtime.
# pnpm will automatically install the specified version of Node.js and use it for
# running pnpm run commands or the pnpm node command.
# This may be used instead of .nvmrc and nvm.
use-node-version=20.11.1

# The Node.js version to use when checking a package's engines setting.
node-version=20.11.1
engine-strict=true
